{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} : Transport Incentives {% endblock %}

{% block body %}

    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Transport Incentive
                </div>
            </div>
            <div class="portlet-body">
                {{ include('_elements/_back_to_list_button.html.twig', {url: path('transport_incentive_import'), label: 'Import Commission', 'icon': 'plus'}) }}
                    <div class="dataTables_wrapper no-footer">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td style="width: 40px;">SL</td>
                                    <td style="width: 150px;">District</td>
                                    <td>
                                        <table class="table table-bordered table-striped">
                                            <tr>
                                                <td style="width: 250px;">Station</td>
                                                {% for depo in depos %}
                                                    <td>
                                                        <table class="table table-bordered table-striped" style="padding: 0;margin: 0;">
                                                            <tr>
                                                                <td colspan="{{ itemTypeCount }}">{{ depo['name'] }}</td>
                                                            </tr>
                                                            <tr>
                                                                {% for itemType in itemTypes %}
                                                                    <td>{{ itemType['itemType'] }}</td>
                                                                {% endfor %}
                                                            </tr>
                                                        </table>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                {% set i = 1 %}
                                {% for district, transportIncentive in transportIncentivesArr %}
                                    <tr>
                                        <td style="width: 40px;">{{ i }}</td>
                                        <td style="width: 150px;">{{ district }}</td>
                                        <td>
                                            <table class="table table-bordered table-striped">
                                                {% for station, transport in transportIncentive %}
                                                    <tr>
                                                        <td style="width: 250px;">{{ station }}</td>
                                                        {% for depo, trans in transport['data'] %}
                                                            {% for type, tran in trans %}
                                                                <td>{{ tran }}</td>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </td>
                                    </tr>
                                {% set i = i+1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <div style="clear: both"></div>
{% endblock %}


