{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} : Order Details {% endblock %}

{% block body %}

    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                   Order Details
                </div>
            </div>
            <div class="portlet-body">
                {{ include('_elements/_back_to_list_button.html.twig', {url: path('orders_home'), label: 'Back to List', 'icon': 'plus'}) }}
                <div class="dataTables_wrapper no-footer">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet">

                                <div class="portlet-body">

                                    <table class="table">
                                        <tr>
                                            <th colspan="4"><h4 class="modal-title">Order No <span class="badge badge-primary">{{ order.id }}</span></h4></th>
                                        </tr>
                                        <tr>
                                            <th>Customer Name</th>
                                            <td>{{ order.customer.user.username }}</td>
                                            <th>Order Date</th>
                                            <td>{{ order.createdAt|date(php_date_format) }}</td>
                                        </tr>
                                        <tr>
                                            <th>Created By</th>
                                            <td>{{ order.createdBy.username|default('') }}</td>
                                            <th>SMS ref.</th>
                                            <td>{{ order.refSMS.msg | default('N/A') }}</td>
                                        </tr>
                                        <tr>
                                            <th>Order Amount</th>
                                            <td>{{ order.totalAmount }}</td>
                                            <th>Paid Amount</th>
                                            <td>{{ order.paidAmount }}</td>
                                        </tr>
                                        <tr>
                                            <th>Remarks</th>
                                            <td>{{ order.remark }}</td>
                                            <th>orderVia</th>
                                            <td>{{ order.orderVia }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="portlet">
                                <div class="portlet-title">
                                    <div class="caption"> Order Progress </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table">
                                        <tr>
                                            <th class="text-center col-md-4">Order State</th>
                                            <th class="text-center col-md-4">Payment State</th>
                                            <th class="text-center col-md-4">Delivery State</th>
                                        </tr>
                                        <tr id="process-actions">
                                            <td class="text-center">
                                                {% if order.orderState == 'PENDING' %}
                                                    {% set orderStateColor = 'warning' %}
                                                {% elseif order.orderState == 'PROCESSING' %}
                                                    {% set orderStateColor = 'info' %}
                                                {% elseif order.orderState == 'HOLD' %}
                                                    {% set orderStateColor = 'warning' %}
                                                {% elseif order.orderState == 'CANCEL' %}
                                                    {% set orderStateColor = 'danger' %}
                                                {% elseif order.orderState == 'COMPLETE' %}
                                                    {% set orderStateColor = 'success' %}
                                                {% endif %}

                                                <span class="{{ 'label label-sm label-'~ orderStateColor }}">{{ order.orderState }}</span>
                                            </td>
                                            <td class="text-center">
                                                {% if order.paymentState == 'PENDING' %}
                                                    {% set paymentStateColor = 'warning' %}
                                                {% elseif order.paymentState == 'PARTIALLY_PAID' %}
                                                    {% set paymentStateColor = 'info' %}
                                                {% elseif order.paymentState == 'APPROVAL' %}
                                                    {% set color = 'warning' %}
                                                {% elseif order.paymentState == 'CREDIT_APPROVAL' %}
                                                    {% set paymentStateColor = 'info' %}
                                                {% elseif order.paymentState == 'PAID'%}
                                                    {% set paymentStateColor = 'success' %}
                                                {% endif %}

                                                <span class="{{ 'label label-sm label-'~ paymentStateColor }}">{{ order.paymentState }}</span>
                                            </td>
                                            <td class="text-center">
                                                {% if order.deliveryState == 'PENDING' %}
                                                    {% set deliveryStateColor = 'warning' %}
                                                {% elseif order.deliveryState == 'READY' %}
                                                    {% set deliveryStateColor = 'info' %}
                                                {% elseif order.deliveryState == 'HOLD' %}
                                                    {% set deliveryStateColor = 'warning' %}
                                                {% elseif order.deliveryState == 'PARTIALLY_SHIPPED' %}
                                                    {% set deliveryStateColor = 'info' %}
                                                {% elseif order.deliveryState == 'SHIPPED' %}
                                                    {% set deliveryStateColor = 'success' %}
                                                {% endif %}

                                                <span class="{{ 'label label-sm label-'~ deliveryStateColor }}">{{ order.deliveryState }}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="portlet">
                                <div class="portlet-title">
                                    <div class="caption"> Order Items </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Sl</th>
                                            <th>Item</th>
                                            <th>Quantity</th>
                                            <th>Delivered Qty</th>
                                            <th>Price</th>
                                            <th>Total Amount</th>
                                            <th>Paid Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody class="orderItems">
                                        {% for index, orderItem in order.orderItems %}
                                            <tr>
                                                <td>{{ index + 1 }}.</td>
                                                <td>{{ orderItem.item.name | default('') }}</td>
                                                <td>{{ orderItem.quantity | default('') }}</td>
                                                <td>{{ deliveredItems[index]['totalDeliveredQuantity'] | default('') }}</td>
                                                <td>{{ orderItem.price | default('') }}</td>
                                                <td>{{ orderItem.totalAmount | default('') }}</td>
                                                <td>{{ orderItem.paidAmount | default('') }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tbody>
                                    </table>
                                </div>
                            </div>

                            {% if order.payments is not empty %}
                                <div class="portlet">
                                    <div class="portlet-title partial-delivered-items">
                                        <div class="caption"> Payment History </div>
                                    </div>
                                    <div class="portlet-body partial-delivered-items">

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Sl</th>
                                                <th>Deposit Date</th>
                                                <th>Payment ID</th>
                                                <th>Payment Method</th>
                                                <th>Bank Name</th>
                                                <th>Branch Name</th>
                                                <th>Amount</th>
                                                <th>Remark</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for index, payment in order.payments %}
                                                <tr>
                                                    <td>{{ index + 1 }}.</td>
                                                    <td>{{ payment.depositDate | date(php_date_format) }}</td>
                                                    <td>{{ payment.id | default('') }}</td>
                                                    <td>{{ payment.paymentMethod | default('') }}</td>
                                                    <td>{{ payment.bankName | default('') }}</td>
                                                    <td>{{ payment.branchName | default('') }}</td>
                                                    <td>{{ payment.amount | default('') }}</td>
                                                    <td>{{ payment.remark | default('') }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            {% endif %}

                            {% if deliveryItems is not empty %}
                                <div class="portlet">
                                    <div class="portlet-title partial-delivered-items">
                                        <div class="caption"> Delivery Items History </div>
                                    </div>
                                    <div class="portlet-body partial-delivered-items">

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Sl</th>
                                                <th>Delivery ID</th>
                                                <th>Item Name</th>
                                                <th>Quantity</th>
                                                <th>Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for index, deliveryItem in deliveryItems %}
                                                <tr>
                                                    <td>{{ index + 1 }}.</td>
                                                    <td>{{ deliveryItem.delivery.id }}</td>
                                                    <td>{{ deliveryItem.orderItem.item.name }}</td>
                                                    <td>{{ deliveryItem.qty }}</td>
                                                    <td>{{ deliveryItem.delivery.finishLoad | date(php_date_format) }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>

                    <div class="modal-footer">
                        {% if order.orderState != 'COMPLETE' and order.orderState != 'CANCEL' %}
                            <a class="btn blue delete-list-btn red" href="{{ path('order_cancel', {"id": order.id}) }}">
                                Order Cancel
                            </a>
                        {% endif %}
                        {% if order.orderState != 'COMPLETE' and order.orderState != 'CANCEL' and order.orderState != 'HOLD' %}
                            <a class="btn blue delete-list-btn" href="{{ path('order_hold', {"id": order.id}) }}">
                                Order Hold
                            </a>
                        {% endif %}
                        {% if order.orderState != 'COMPLETE' and order.orderState != 'CANCEL' and order.orderState == 'HOLD' %}
                            <a class="btn blue delete-list-btn" href="{{ path('order_approve', {"id": order.id}) }}">
                                Order Approve
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}