    <tr class="payment_info" id="payment-__name__">
       <td colspan="9">
           <table class="table">
               <tr class="payment_section">
{#                   <td>{{ form_widget(form.agentBankBranch, { 'attr': {'class': 'width_250'}}) }}</td>#}
                   <td style="width: 17%">{{ form_widget(form.depositedAmount, { 'attr': {'class': 'amount'}}) }}</td>
                   <td style="width: 18%">{{ form_widget(form.depositDate, { 'attr': {'class': ''}}) }}</td>
                   <td style="width: 18%">{{ form_widget(form.receiveAccount) }}</td>
                   <td style="width: 15%">{{ form_widget(form.paymentMethod) }}</td>
                   <td style="width: 30%" colspan="2">{{ form_widget(form.remark) }}</td>
               </tr>
               <tr class="bank_branch_section">
                   <td colspan="2" style="border: none">
                       <table width="100%">
                           <tr class="bank_section">
                               <td width="80px">Bank Name </td>
                               <td>
                                   {{ form_widget(form.bank, { 'attr': {}}) }}
                               </td>
                           </tr>
                       </table>
                   </td>
                   <td style="border: none; text-align: right">Branch Name</td>
                   <td class="branch_section" style="border: none" colspan="3">
                       {{ form_widget(form.branch, { 'attr': {}}) }}
                   </td>
                   <td style="border: none; text-align: center">{{ form_widget(form.remove) }}</td>
               </tr>
           </table>
       </td>
    </tr>