<div class="main-content">
    <div class="modal-header portlet-title blue">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Order Summary</h4>
    </div>
    <form id="orderApprovedAmount" action="{{ path('order_approve', {id: order.id }) }}" method="post" novalidate="novalidate">

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box">

                    <div class="portlet-body">
                        <div class="dataTables_wrapper no-footer">

                            <table class="table col-md-6">
                                <tr>
                                    <th class="col-md-2">Order Number</th>
                                    <td class="col-md-4">{{ order.id }}</td>
                                    <th class="col-md-2">Order Date</th>
                                    <td class="col-md-4">{{ order.createdAt|date("d-m-Y \\a\\t g:ia", "Asia/Dhaka") }}</td>
                                </tr>
                                <tr>
                                    <th>Agent Name</th>
                                    <td>{{ order.agent.user.profile.fullName }}</td>
                                    <th>Order Amount</th>
                                    <td>{{ order.totalAmount|number_format(2) }}</td>
                                </tr>
                                <tr>
                                    <th>Agent Mobile</th>
                                    <td>{{ order.agent.user.profile.cellphone }}</td>
                                    <th>Created By</th>
                                    <td>{{ order.createdBy.profile.fullName|default('SMS') }}</td>

                                </tr>
                                <tr>
                                    <th>Agent Address</th>
                                    <td>{{ order.agent.user.profile.address }}</td>
                                    <th>SMS ref.</th>
                                    <td>{{ order.refSMS.msg | default('N/A') | raw }}</td>

                                </tr>
                                <tr>
                                    <th>Location</th>
                                    <td>{{ order.location.name | default('') }}</td>
                                    <th>Order Via</th>
                                    <td>{{ order.orderVia }}</td>
                                </tr>
                                <tr>
                                    <th>Depo</th>
                                    <td>{{ order.depo.name | default('') }}</td>
                                    <th>Remarks</th>
                                    <td>{{ order.remark }}</td>
                                </tr>

                                <tr>
                                    <th>Payment Mode</th>
                                    <td colspan="1">{{ order.paymentModeTitle | default('N/A') }}</td>
                                    <th>Clearance Amount</th>
                                    <td colspan="1">{{ form_widget(form.totalApprovedAmount) }}</td>
                                </tr>
                                <tr><th></th><td></td><th></th><td></td></tr>
                            </table>
                            <br>
                            <br>
                            <h3>Order Items</h3>
                            <table class="table-bordered table-striped table-condensed flip-content col-md-12">
                                <thead>
                                <tr>
                                    <th class="col-md-1">Sl</th>
                                    <th class="col-md-7">Item</th>
                                    {% if chickenCheck == 0 %}
                                        <th class="text-center col-md-2">Quantity</th>
                                        <th class="text-center col-md-2">Available</th>
                                    {% else %}
                                        <th class="text-center col-md-2">Order Quantity</th>
                                        <th class="text-center col-md-2">Assigned Quantity</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% set available = true %}
                                {% for index, orderItem in order.orderItems %}
                                    <tr>
                                        <td>{{ index + 1 }}.</td>
                                        <td>{{ orderItem.item.getItemCodeName | default('') }}</td>
                                        {% if chickenCheck == 0 %}
                                            <td class="text-center">{{ orderItem.quantity | default('') }}</td>
                                            <td class="text-center">
                                                {% if orderItem.isAvailable == true %}
                                                    <i class="fa fa-check green"></i>
                                                {% else %}
                                                    <i class="fa fa-times red"></i>
                                                    {% set available = false %}
                                                {% endif %}
                                            </td>
                                        {% else %}
                                            <td class="text-center">{{ orderItem.quantity | default('') }}</td>
                                            <td class="text-center">{{ orderItem.isAvailableQty | default('') }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div style="clear: both"></div>
                            <br>
                            <br>
                            <h3>Payment History</h3>

                            {% if order.payments is not empty %}
                                    <table class="table-bordered table-striped table-condensed flip-content col-md-12">
                                        <thead>
                                        <tr>
                                            <th>Sl</th>
                                            <th>Deposit Date</th>
                                            <th>Payment ID</th>
                                            <th>Payment Method</th>
                                            <th>Bank Name</th>
                                            <th>Branch Name</th>
                                            <th>Receive Account</th>
                                            <th>Amount</th>
                                            <th>Remark</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set index = 1 %}
                                        {% for payment in order.payments %}
                                            {% if payment.paymentMethod == 'BANK' and payment.transactionType == 'CR' %}
                                                <tr>
                                                    <td>{{ index }}.</td>
                                                    <td>{{ payment.depositDate | date("d-m-Y \\a\\t g:ia", "Asia/Dhaka") }}</td>
                                                    <td>{{ payment.id | default('') }}</td>
                                                    <td>{{ payment.paymentMethod | default('') }}</td>
                                                    <td>{{ payment.agentBankBranch.bank | default('') }} {{ payment.bank.name|default('') }}</td>
                                                    <td>{{ payment.agentBankBranch.branch | default('') }} {{ payment.branch.name | default('') }}</td>
                                                    <td>
                                                        {% if payment.receiveAccount is not empty and payment.receiveAccount=='FEED' %}
                                                            {{ payment.receiveAccount }}S
                                                        {% else %}
                                                            {{ payment.receiveAccount | default('') }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ payment.amount | default('') }}</td>
                                                    <td>{{ payment.remark| default('') }}</td>
                                                </tr>
                                                {% set index = index + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>

                            {% endif %}
                            <div style="clear: both"></div>
                        </div>

                        {% if invalidMessage is not empty %}
                            <div class="alert alert-danger" style="margin-bottom: 0; padding: 2px;">
                                {{ invalidMessage|default('') }}
                            </div>
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">

        <a class="btn blue red order-cancel-modal-action">
            Order Cancel
        </a>
        {% if available == false and order.orderItemType == true %}
            <a class="btn blue delete-list-btn" href="{{ path('order_update', {"id": order.id}) }}" target="_blank">
                Edit
            </a>
        {% elseif availableCheck == false and order.orderItemType == false %}
            <a class="btn blue delete-list-btn" href="{{ path('order_update', {"id": order.id}) }}" target="_blank">
                Edit
            </a>
        {% elseif (orderInfoValid) %}
            <a class="btn blue order-hold-modal-action">
                Order Hold
            </a>

        {% endif %}
        {#<a class="btn green delete-list-btn" href="{{ path('order_approve', {"id": order.id}) }}">
            Order Approve
        </a>#}
        <button type="submit" onclick="return confirm('Are you sure?')" class="btn green">
            Order Approve
        </button>

        <button title="Close" type="button" class="btn red" data-dismiss="modal">Close</button>
    </div>
    {{ form_end(form) }}
</div>

{{ include('RbsSalesBundle:Order:_orderModalActionForm.html.twig') }}