{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Agent Import Form
                </div>
            </div>
            <div class="portlet-body">
                {{ form_start(form) }}
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="agent_type">Agent Type</label>
                    <div class="col-sm-4">
                        <select name="agent_type" id="agent_type" class="form-control">
                            <option value="FEED">Feed</option>
                            <option value="CHICK">Chick</option>
                        </select>
                    </div>
                </div>
                {{ form_row(form.file) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}