{{ form_start(form, {'method': 'POST'}) }}

    <h4>Agent Profile Information</h4>

        {{ form_row(form.VIP) }}
        {{ form_row(form.agentCodeForDatatable) }}
        {% if agent.agentType=='CHICK' %}
        {{ form_row(form.itemType) }}
        {% endif %}
        {{ form_row(form.user.profile.fullName) }}
        {% if agent.openingBalanceFlag != 1 %}
            {{ form_row(form.openingBalance) }}
            {{ form_row(form.openingBalanceType) }}
        {% endif %}
        {% if agent.agentType=='CHICK' %}
        {{ form_row(form.depotForChick) }}
        {% endif %}
        {% if agent.agentType=='FEED' %}
        {{ form_row(form.depo) }}
        {% endif %}
        {{ form_row(form.user.profile.cellphoneForMapping) }}
        {{ form_row(form.user.profile.address) }}
        {{ form_row(form.user.zilla, { 'attr': {'class': 'zilla-selector select2me form-control select2-offscreen', 'tabindex': '-1', 'title': 'ZillaZilla'} }) }}
        {{ form_row(form.user.upozilla, { 'attr': {'class': 'thana-selector select2me form-control select2-offscreen', 'tabindex': '-1', 'title': 'Thana/UpoZilla'} }) }}
        {{ form_row(form.agentGroup) }}

        {{ form_row(form.user.email) }}
        {% if agent.agentType=='FEED' %}
        {{ form_row(form.itemTypes) }}
        {% endif %}

    {{ form_row(form.submit) }}
<input id="user_id_hidden" type="hidden" value="{{ agent.user.id }}"/>
{{ form_end(form) }}