{{ form_start(form, {'method': 'POST'}) }}

    <h4>Agent Profile Information</h4>

        {{ form_row(form.VIP) }}
        {{ form_row(form.agentID) }}
        {{ form_row(form.itemType) }}
        {{ form_row(form.user.profile.fullName) }}
        {% if agent.openingBalanceFlag != 1 %}
            {{ form_row(form.openingBalance) }}
            {{ form_row(form.openingBalanceType) }}
        {% endif %}
        {{ form_row(form.depo) }}
        {{ form_row(form.user.profile.cellphone) }}
        {{ form_row(form.user.profile.address) }}
        {{ form_row(form.agentGroup) }}

        {{ form_row(form.user.email) }}

    {{ form_row(form.submit) }}

{{ form_end(form) }}