{{ form_start(form, {'method': 'POST'}) }}

    <h4>Agent Profile Information</h4>

    <div class="form-group">
        <label for="inputEmail12" class="col-md-2 control-label">VIP</label>
        <div class="col-md-2">
            <div class="input-icon">
                {{ form_widget(form.VIP, { 'attr': {'class': ''} }) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail12" class="col-md-2 control-label">Agent ID</label>
        <div class="col-md-10">
            <div class="input-icon">
                {{ form_widget(form.agentID, { 'attr': {'class': ''} }) }}
            </div>
        </div>
    </div>

        {{ form_row(form.itemType, { 'attr': {'class': ''} }) }}

        {{ form_row(form.user.profile.fullName, { 'attr': {'class': ''} }) }}
        {% if agent.openingBalanceFlag != 1 %}
            {{ form_row(form.openingBalance, { 'attr': {'class': ''} }) }}
            {{ form_row(form.openingBalanceType, { 'attr': {'class': ''} }) }}
        {% endif %}
        {{ form_row(form.depo, { 'attr': {'class': ''} }) }}
        {{ form_row(form.user.profile.cellphone, { 'attr': {'class': ''} }) }}
        {{ form_row(form.user.profile.address, { 'attr': {'class': ''} }) }}
        {{ form_row(form.agentGroup, { 'attr': {'class': ''} }) }}

        {{ form_row(form.user.email, { 'attr': {'class': ''} }) }}

    {{ form_row(form.submit, { 'attr': {'class': ''} }) }}

{{ form_end(form) }}