{{ form_start(form, {'method': 'POST', attr: { novalidate: 'novalidate'}}) }}

<div class="col-md-6">
    <div class="form-group">
        <label class="col-md-4 control-label">Agent *</label>
        <div class="col-md-6" style="margin-top: 10px;">
            {#{{ form_widget(form.agent, {'attr' : agentAttr}) }}
            {{ form_errors(form.agent) }}#}
            <input type="hidden" value="{{ order.agent.id }}" id="order_agent">
            <input id="order_id" type="hidden" value="{{ order.id }}">
            {{ order.agent.chickAgentID ~ " - " ~ order.agent.user.profile.fullName }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Order Date *</label>
        <div class="col-md-8" style="margin-top: 10px;">
            {{ form_widget(form.created_at) }}
            {{ form_errors(form.created_at) }}
        </div>
    </div>

</div>
<div class="col-md-6">
    <div class="form-group">
        <label class="col-md-2 control-label">Depo *</label>
        <div class="col-md-6" style="margin-top: 10px;">
            {{ form_widget(form.depo, {'attr' : depoAttr}) }}
            {{ form_errors(form.depo) }}

            <input type="hidden" class="previous_depot_id" value="{{ order.depo.id }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Remark</label>
        <div class="col-md-6" style="margin-top: 10px;">
            {{ form_widget(form.remark) }}
        </div>
    </div>

</div>

<div class="order-item-list">
    <table class="table table-condensed table-hover" style="margin-bottom:0!important;">
        <thead>
        <tr>
            <th colspan="4"><h3 class="table pull-left">Item Information:</h3></th>
            <th colspan="3"><div class="pull-right"><a href="#" class="add_tag_link blue btn" id="add_order_item">Add Item</a></div></th>
        </tr>
        <tr>
            <th style="width: 300px;">Item</th>
            <th style="width: 50px;">Quantity</th>
            <th style="width: 20px;" class="text-center">Unit</th>
            <th style="width: 150px;" class="text-center">Available</th>
            <th style="width: 50px;">Price</th>
            <th style="width: 70px;">Total</th>
            <th style="width: 70px;"></th>
        </tr>
        </thead>
        <tbody id="orderItems" class="tags" data-prototype="
        {% filter escape %}
        {{ include('RbsSalesBundle:ChickOrder:order_item_content.html.twig', { 'form': form.orderItems.vars.prototype }) }}
        {% endfilter %}">
        {% for i, orderItem in form.orderItems %}
            <tr id="order-item-{{ i }}">
                <td>{{ form_widget(orderItem.item) }}</td>
                <td>{{ form_widget(orderItem.quantity, { 'attr': {'class': 'quantity input-mask-number'}}) }}</td>
                <td class="item-unit text-center"></td>
                <td class="stock-available text-center"></td>
                {% if priceModifyAccess.status==1 %}
                    <td class="item-price">{{ form_widget(orderItem.price, { 'attr': {'class': 'price'}}) }}</td>
                {% else %}
                    <td class="item-price">{{ form_widget(orderItem.price, { 'attr': {'class': 'price','readonly':'true'}}) }}</td>
                {% endif %}

                <td>{{ form_widget(orderItem.totalAmount, { 'attr': {'class': 'total_price'}} ) }}</td>
                <td>{{ form_widget(orderItem.remove) }}</td>
                <td style="display: none">
                    <input type="hidden" class="added_qty_{{ i }}" value="" name="added_qty[]">
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th style="text-align: right">Total</th>
            <th style="text-align: right" id="order_totalQuantity"></th>
            <td></td>
            <td></td>
            <td></td>
            <th colspan="2">{{ form_widget(form.totalAmount, { 'attr': {'style': ''}} ) }}</th>
        </tr>
        </tfoot>
    </table>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        {% if deliveries is not empty %}
            {% for delivery in deliveries %}
                {{ delivery.id }}
            {% endfor %}
        {% endif %}
    </div>
</div>
{{ form_row(form.submit, { 'attr': {'style': 'float:right;'}}) }}
{{ form_end(form) }}
