{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} : Order {% endblock %}

{% block body %}

    <div class="modal fade" id="ajaxSummeryView" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                    <span> &nbsp;&nbsp;Loading... </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Chick Orders
                </div>
            </div>
            <div class="portlet-body">
                {{ include('RbsSalesBundle:ChickOrder:_filter_form.html.twig') }}

                <form id="chick-order-manage-form">
                    {% for regionId, orderItems in orderItemResult %}
                        <table class="table chick-order-region-summary table-bordered">
                            <thead>
                            <tr>
                                <th colspan="2"
                                    class="text-center">{{ regions[regionId] }}</th>
                            </tr>
                            <tr>
                                <th class="col-md-11">Customer Name</th>
                                <th class="col-md-1 text-right">Qty</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for orderItem in orderItems %}

                                <tr>
                                    <td>{{ orderItem.order.agent.user.profile.fullName }}</td>
                                    <td><input  class="form-control qty input-xsmall input-mask-number pull-right" name="orderItem[{{ orderItem.order.id }}][{{ orderItem.Id }}]" value="{{ orderItem.quantity }}"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="text-right">Total</td>
                                <td class="total-qty text-right"></td>
                            </tr>
                            </tfoot>
                        </table>
                    {% endfor %}

                    {% if orderItemResult is not empty %}
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div style="font-size: 20px" class="grand-total text-right">Grand Total: <span></span></div>
                        </div>
                        <div class="col-md-12 text-center">
                            <input name="save" type="submit" class="btn btn-primary" value="Save">
                            <input name="save-and-deliver" type="submit" class="btn btn-primary" value="Save and Deliver">
                        </div>
                    </div>
                    {% endif %}

                    {% if date is empty or selectedItem is empty %}
                        <div class="row">
                            <div class="col-md-12 text-center" style="margin: 100px 0">Please select date and item.</div>
                        </div>
                    {% elseif orderItemResult is empty %}
                        <div class="row">
                            <div class="col-md-12 text-center" style="margin: 100px 0">No record found</div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'assets/global/plugins/bootstrap-toastr/toastr.min.css'
    filter='cssrewrite' output='css/compiled/datatable.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'assets/global/plugins/bootstrap-toastr/toastr.min.js'
    'bundles/rbssales/js/chick-order.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}


{% block documentReady %}
    {{ parent() }}

    ChickOrder.ManageInit();
{% endblock documentReady %}