<div class="modal-header portlet-title box blue">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title"> Details</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>Approved By</th>
                    <td>{{ incentive.approvedBy.username|default('') }}</td>
                    <th>Approved Date</th>
                    <td>{{ incentive.createdAt|date(php_date_format) }}</td>
                </tr>
                <tr>
                    <th>Agent Name</th>
                    <td>{{ incentive.agent.user.username | default('') }}</td>
                    <th>Amount</th>
                    <td>{{ incentive.amount|number_format }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ incentive.status | default('') }}</td>
                    <th>Duration</th>
                    <td>{{ incentive.duration }}</td>
                </tr>
                <tr>
                    <th>Remarks</th>
                    <td>{{ incentive.details }}</td>
                    <th></th>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
</div>