{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} : Incentive Details {% endblock %}

{% block body %}

    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                   Incentive Details
                </div>
            </div>
            <div class="portlet-body">
                {{ include('_elements/_back_to_list_button.html.twig', {url: path('incentives_home'), label: 'Back to List', 'icon': 'chevron-left'}) }}
                <div class="dataTables_wrapper no-footer">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet">

                                <div class="portlet-body">

                                    <table class="table">
                                        <tr>
                                            <th>Approved By</th>
                                            <td>{{ incentive.approvedBy.username|default('') }}</td>
                                            <th>Approved Date</th>
                                            <td>{{ incentive.createdAt|date(php_date_format) }}</td>
                                        </tr>
                                        <tr>
                                            <th>Agent Name</th>
                                            <td>{{ incentive.agent.user.username | default('') }}</td>
                                            <th>Amount</th>
                                            <td>{{ incentive.amount|number_format }}</td>
                                        </tr>
                                        <tr>
                                            <th>Status</th>
                                            <td>{{ incentive.status | default('') }}</td>
                                            <th>Duration</th>
                                            <td>{{ incentive.duration }}</td>
                                        </tr>
                                        <tr>
                                            <th>Remarks</th>
                                            <td>{{ incentive.details }}</td>
                                            <th></th>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}