{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} : Delivery {% endblock %}

{% block body %}
    <style>
        @media print {
           .table tr th, .table tr td{
               font-size: 11px!important;
           }
        }
    </style>
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list hidden-print"></i>Feed mill/Depot sale

                </div>
                {% if data['start_date'] is defined %}
                    <div style="float: right; text-align: right; padding: 10px 5px"> {{ data['start_date']|date('d-m-Y')}}</div>
                {% endif %}
            </div>
            <div class="portlet-body">

                <form method="get" novalidate="novalidate" class="form-inline hidden-print" style="margin-bottom: 20px;">

                    <div class="form-group hidden-print">
                        <span class="visible-print-inline">Depot:</span>
                        {{ form_widget(formSearch.depo) }}
                    </div>
                    <div class="form-group hidden-print">
                            <div class="input-group input-daterange">
                                {{ form_widget(formSearch.start_date) }}
                            </div>
                    </div>
                    <div class="form-group hidden-print">
                        <div class="input-group input-daterange">
                            {{ form_widget(formSearch.end_date) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1">
                            <input type="submit" value="Search" class="btn blue hidden-print">
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" name="pdf_create" value="1" class="btn blue hidden-print">PDF</button>
                        <button type="button" class="btn green hidden-print" onclick="print()">Print</button>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Unit Name</th>
                                <th>Category Code</th>
                                <th>Category Name</th>
                                <th>Item Code</th>
                                <th>Item Name</th>
                                <th>Total</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if deliveries %}
                                {% set grandTotalReceived = 0 %}
                                {% set grandTotalReceivedValue = 0 %}
                                {% set depoName = '' %}
                            {% for depotName, results in deliveries %}
                                {% for catName, result in results %}
                                    {% set totalReceived = 0 %}
                                    {% set totalReceivedValue = 0 %}
                                    {% set depoName = result[0].depoName %}
                                    {% set sl = 1 %}
                                    {% for delivery in result %}

                                        <tr>
                                            <td>{{ delivery.depoName }}</td>
                                            <td style="text-align: center">{{ delivery.catId }}</td>
                                            <td>{{ delivery.catName }}</td>
                                            <td style="text-align: center">{{ delivery.itemCode }}</td>
                                            <td>{{ delivery.itemName }}</td>
                                            <td style="text-align: right">{{ delivery.totalDeliveredQuantity|number_format(2,'.',',') }}</td>
                                            <td style="text-align: right">{{ delivery.totalValue|number_format(2,'.',',') }}</td>
                                        </tr>
                                        {% set sl = sl + 1 %}
                                        {% set totalReceived = totalReceived + delivery.totalDeliveredQuantity %}
                                        {% set totalReceivedValue = totalReceivedValue + delivery.totalValue %}
                                    {% endfor %}
                                    <tr style="font-weight: bold">
                                        <td style="text-align: center" colspan="2">Total</td>
                                        <td>{{ catName }}</td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align: right">{{ totalReceived|number_format(2,'.',',') }}</td>
                                        <td style="text-align: right">{{ totalReceivedValue|number_format(2,'.',',') }}</td>
                                    </tr>
                                    {% set grandTotalReceived = grandTotalReceived + totalReceived %}
                                    {% set grandTotalReceivedValue = grandTotalReceivedValue + totalReceivedValue %}
                                {% endfor %}
                            {% endfor %}
                                <tr style="font-weight: bold">
                                    <td>{{ depoName }}</td>
                                    <td style="text-align: center" colspan="2">Grand Total</td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: right">{{ grandTotalReceived|number_format(2,'.',',') }}</td>
                                    <td style="text-align: right">{{ grandTotalReceivedValue|number_format(2,'.',',') }}</td>
                                </tr>
                                {% else %}
                                <tr><td colspan="8">No record found.</td></tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
{% endblock %}