{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : SWAP RSM {% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i> SWAP RSM
                </div>
            </div>
            <div class="portlet-body">
                {{ include('_elements/_back_to_list_button.html.twig', {url: path('swapping_rsm_list'), label: 'Back to List', 'icon': 'chevron-left'}) }}
                {{ form_start(form, {'method': 'POST'}) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  filter='cssrewrite'
    "assets/global/plugins/bootstrap-toastr/toastr.min.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    "assets/global/plugins/bootstrap-toastr/toastr.min.js"

    "assets/global/plugins/jquery-validation/js/jquery.validate.min.js"
    "assets/admin/pages/scripts/form-validation.js"
    "bundles/rbssales/js/swap.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
{% block documentReady %}
    {{ parent() }}
{% endblock documentReady %}
