{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : User {% endblock %}

{% block body %}

    <table>
        <thead>
        <tr>
            <th>SL</th>
            <th>Username</th>
            <th>Username</th>
            <th>Username</th>
            <th>pass change</th>
            <th>details</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td><a href="{{ path('user_update', {'id': user.getId()} ) }}">edit</a></td>
                <td><a href="{{ path('user_delete', {'id': user.getId()} ) }}">delete</a></td>
                <td><a href="{{ path('user_update_password', {'id': user.getId()} ) }}">pass change</a></td>
                <td><a href="{{ path('user_details', {'id': user.getId()} ) }}">details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
