{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : User update {% endblock %}

{% block body %}

            {{ form_start(form, {'method': 'POST', 'attr': {'id': 'form-user-add', 'class': 'form-horizontal'}}) }}

            <div class="alert alert-error {% if not form.vars.errors|length %} hide {% endif %}">
                <button class="close" data-dismiss="alert"></button>
                You have some form errors. Please check below.
                {{ form_errors(form) }}
            </div>

            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-user"></i>User Form
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-3 control-label"> Full Name</label>
                                <div class="col-md-6">
                                    <div class="input-icon right">
                                        <span class="input-group-btn"></span>
                                        {{ form_widget(form.profile.fullName, {'attr': {'class': 'form-control span5 m-wrap', 'data-required': '1' }}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"> Cellphone</label>
                                <div class="col-md-6">
                                    <div class="input-icon right">
                                        <span class="input-group-btn"></span>
                                        {{ form_widget(form.profile.cellphone, {'attr': {'class': 'form-control span5 m-wrap', 'data-required': '1' }}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"> Designation</label>
                                <div class="col-md-6">
                                    <div class="input-icon right">
                                        <span class="input-group-btn"></span>
                                        {{ form_widget(form.profile.designation, {'attr': {'class': 'form-control span5 m-wrap', 'data-required': '1' }}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Email</label>
                                <div class="col-md-6">
                                    <div class="input-icon right">
                                        <span class="input-group-btn"></span>
                                        {{ form_widget(form.email, {'attr': { 'class': 'form-control span5 m-wrap', 'rows': '3' }}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group last">
                                <label class="control-label col-md-3">Groups</label>
                                <div class="col-md-9">
                                    {{ form_widget(form.groups, {'attr': {'style': 'height:200px;', 'id': '' } } ) }}
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    {{ form_widget(form.submit, {'attr': {'class': 'btn green'}}) }}
                                    <button type="button" class="btn default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    <!-- END FORM-->
                </div>
            </div>

            {{ form_end(form) }}

{% endblock %}

