{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} : My Target {% endblock %}

{% block body %}

    <div class="modal fade" id="ajax" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                    <span> &nbsp;&nbsp;Loading... </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ajaxHistory" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                    <span> &nbsp;&nbsp;Loading... </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Target {{ target.user.username }}
                </div>
            </div>
            <div class="portlet-body">

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>SL</th>
                        <th>Sub Category</th>
                        <th>Quantity</th>
                        <th>Remaining</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Month</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for myTarget in myTargets %}
                        <tr>
                            <td class="col-md-1 bold">{{ loop.index }}</td>
                            <td class="col-md-1 bold">{{ myTarget.subCategory.subCategoryName }}</td>
                            <td class="col-md-1 bold">{{ myTarget.quantity }}</td>
                            <td class="col-md-1 bold">{{ myTarget.remaining }}</td>
                            <td class="col-md-1 bold">{{ myTarget.startDate | date('M Y') }}</td>
                            <td class="col-md-1 bold">{{ myTarget.endDate | date('M Y') }}</td>
                            <td class="col-md-1 bold">{{ myTarget.getMonthDifference() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>SR Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for sr in srList %}
                        <tr>
                            <td class="col-md-1 bold">{{ loop.index }}</td>
                            <td class="col-md-1">{{ sr.username }}</td>
                            <td class="col-md-2">
                                <a href="{{ path('target_sr', {'id': sr.id}) }}">Add Target</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Sub Category</th>
                            <th>SR Name</th>
                            <th>Quantity</th>
                            <th>Remaining</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Month</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for srTarget in srTargetList %}
                        <tr>
                            <td class="col-md-1 bold">{{ loop.index }}</td>
                            <td class="col-md-2">{{ srTarget.subCategory.subCategoryName }}</td>
                            <td class="col-md-1">{{ srTarget.user.username }}</td>
                            <td class="col-md-1">{{ srTarget.quantity }}</td>
                            <td class="col-md-1">{{ srTarget.remaining }}</td>
                            <td class="col-md-1">{{ srTarget.startDate | date('M Y') }}</td>
                            <td class="col-md-1">{{ srTarget.endDate | date('M Y') }}</td>
                            <td class="col-md-1">{{ srTarget.getMonthDifference() }}</td>
                            <td class="col-md-1"><a class="btn btn-primary btn-xs" href="{{ path('target_sr_update', {id : srTarget.id}) }}">
                                    <i class="glyphicon glyphicon-edit"></i>Update</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div style="clear: both"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}