<div class="modal-header portlet-title box blue">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Item Name : {{ stock.item.name | default('') }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            {% if stockHistories is empty %}
                No Stock History Found
            {% else %}
            <table class="table table-bordered table-striped table-condensed flip-content">
                <thead class="flip-content">
                <tr>
                    <th class="numeric">Sl</th>
                    <th class="numeric">Date</th>
                    <th class="numeric">Added By</th>
                    <th class="numeric">Depot</th>
                    <th class="numeric">Feed Mill</th>
                    <th class="numeric">Quantity</th>
                    <th class="numeric">Description</th>
                </tr>
                </thead>
                <tbody>
                {% for index, stockHistory in stockHistories %}
                    <tr>
                        <td class="numeric">{{ index + 1 }}.</td>
                        <td class="numeric">{{ stockHistory.createdAt | date('d-m-Y') }}</td>
                        <td class="numeric">{{ stockHistory.createdBy }}</td>
                        <td class="numeric">{{ stockHistory.fromDepo.name }}</td>
                        <td class="numeric">{{ stockHistory.feedMill.name }}</td>
                        <td class="numeric">{{ stockHistory.quantity }}</td>
                        <td class="numeric">{{ stockHistory.description | default('') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal-footer">
    {% if stockHistories is not empty %}
    <a class="btn blue" href="{{ path('stock_history_list', {"stock": stock.id}) }}" target="_blank">
        More >>
    </a>
    {% endif %}
</div>
