<div class="action-content-cancel">
    <form id="item-price-form" action="{{ path('set_item_price', {id: item.id }) }}" method="post" novalidate="novalidate">
    <div class="modal-header portlet-title blue">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    </div>
    <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet">
                        <div class="portlet-title partial-delivered-items">
                            <div class="caption"> {{ item.name }} </div>
                        </div>
                        <div class="portlet-body">
                            <button type="button" class="btn btn-xs blue pull-right" id="set-default-price">
                                ৳ Set Default
                            </button>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="30%">District</th>
                                        <th width="25%">Price</th>
                                        {% if item.itemType.itemType=='Chick' %}
                                        <th width="45%">
                                            MRP Price
                                        </th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody class="items">
                                {% for reIndex, region in locationsRegions %}
                                    <tr>
                                        <td colspan="{% if item.itemType.itemType!='Chick' %}{{3}}{% endif %}" align="center">
                                            <strong>{{ region.name }}</strong>
                                        </td>
                                        {% if item.itemType.itemType=='Chick' %}
                                        <td>

                                            <input type="number" class="form-control input-xsmall amount">

                                        </td>
                                        <td>
                                            <div class="col-md-7">
                                                <input type="number" class="form-control input-xsmall mrp_amount">
                                            </div>
                                            <div class="col-md-5">
                                                <button type="button" data-zone-name="zone_{{ region.id }}" class="btn btn-xs blue pull-left set-default-price-zone zone_{{ region.id }}">
                                                    ৳ Set Price
                                                </button>
                                            </div>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% for index, location in locations %}
                                        {% if location.parentId==region.id %}
                                            <tr class="form-group zone_{{ region.id }} district">
                                                <td><label for="amount-{{ index }}">{{ location.name }}</label></td>
                                                <td><input id="amount-{{ index }}" type="text" name="amount[{{ location.id }}]" value="{{ itemPrices[location.id]|default(0) }}" class="form-control input-xsmall amount"></td>
                                                {% if item.itemType.itemType=='Chick' %}
                                                <td>
                                                    <input id="mrp-amount-{{ index }}" type="text" name="mrp-amount[{{ location.id }}]" value="{{ itemMrpPrices[location.id]|default(0) }}" class="form-control input-xsmall mrp_amount">
                                                </td>
                                                {% endif %}

                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn blue green" id="save-item-price"> Save </button>
        <a class="btn default" data-dismiss="modal"> Close </a>
    </div>
    </form>
</div>