{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Add Factory
                </div>
            </div>
            <div class="portlet-body">
                {{ include('_elements/_back_to_list_button.html.twig', {url: path('project'), label: 'Back to List', 'chevron-left': 'plus'}) }}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  filter='cssrewrite'
    "assets/global/plugins/jquery-multi-select/css/multi-select.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    "assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}