<table width="100%" style="margin-bottom: 20px; font-weight: bold">
    <tr style="font-size: large">
        <td width="80%">Date wise Oder Quantity & Value</td>
        <td width="20%" align="right">{{ data?data['start_date']:'' }}</td>
    </tr>
</table>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Order Id</th>
        <th>Agent ID</th>
        <th>Agent Name</th>
        <th>Agent District</th>
        <th>Feed Mill/Depot</th>
        <th width="110px">Date</th>
        <th>Delivery Status</th>
        <th>Total Quantity</th>
        <th>Trade Value</th>
        <th>Payment</th>
        <th>Remarks</th>
    </tr>
    </thead>
    {% if orders %}
        <tbody>
        {% set sl = 1 %}
        {% set grandTotalQty = 0 %}
        {% set grandTotalAmount = 0 %}
        {% set grandTotalPaymentAmount = 0 %}
        {% set depotAndCategoryTotal = [] %}
        {% for region in locationsRegions %}

            {% if orders[region.id] is defined and orders[region.id] is not empty %}
                {% set regionTotalQty = 0 %}
                {% set regionTotalAmount = 0 %}
                {% set regionTotalPaymentAmount = 0 %}
                <tr>
                    <td style="font-weight: bold;text-align: center" colspan="12">{{ region.name }}</td>
                </tr>
                {% for order in orders[region.id] %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.agentId|default('') }}</td>
                        <td>{{ order.fullName|default('') }}</td>
                        <td>{{ order.zillaName|default('') }}</td>
                        <td>{{ order.depotName }}</td>
                        <td>{{ order.createdAt|date('d-m-Y') }}</td>
                        <td>{{ order.deliveryState}}</td>
                        <td>{{ order.totalQuantity|number_format(2,'.',',')}}</td>
                        <td>{{ order.totalAmount|number_format(2,'.',',')}}</td>
                        <td>{{ paymentAmountViaOrders[order.id].totalAmount|default('')|number_format(2,'.',',') }}</td>
                        <td style="word-break: break-word!important;">{{ order.remarks|default('') }}</td>
                    </tr>

                    {% set regionTotalQty =regionTotalQty+ order.totalQuantity %}
                    {% set regionTotalAmount = regionTotalAmount+order.totalAmount %}
                    {% set regionTotalPaymentAmount =regionTotalPaymentAmount + (paymentAmountViaOrders[order.id].totalAmount|default(0)) %}
                {% endfor %}
                <tr>
                    <td colspan="7" style="text-align: right"><strong>Total</strong></td>
                    <td>{{ regionTotalQty|number_format(2,'.',',') }}</td>
                    <td>{{ regionTotalAmount|number_format(2,'.',',') }}</td>
                    <td>{{ regionTotalPaymentAmount|number_format(2,'.',',') }}</td>
                    <td></td>
                </tr>

                {% set grandTotalQty = grandTotalQty + regionTotalQty %}
                {% set grandTotalAmount = grandTotalAmount + regionTotalAmount %}
                {% set grandTotalPaymentAmount = grandTotalPaymentAmount + regionTotalPaymentAmount %}
            {% endif %}
            {% set sl = sl + 1 %}

        {% endfor %}
        <tr>
            <td colspan="7" style="text-align: right"><strong>Grand Total</strong></td>
            <td>{{ grandTotalQty|number_format(2,'.',',') }}</td>
            <td>{{ grandTotalAmount|number_format(2,'.',',') }}</td>
            <td>{{ grandTotalPaymentAmount|number_format(2,'.',',') }}</td>
            <td></td>
        </tr>
        </tbody>

    {% endif %}
</table>