{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} : Stock {% endblock %}

{% block body %}

    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title hidden-print">
                <div class="caption">
                    <i class="fa fa-list"></i>Depot Wise Order Report
                </div>
            </div>
            <div class="portlet-body">

                <form method="get" novalidate="novalidate" class="form-inline hidden-print" style="margin-bottom: 20px;">

                    <div class="form-group hidden-print">
                        <span class="visible-print-inline">Depot:</span>
                        {{ form_widget(formSearch.depo) }}
                    </div>
                    <div class="form-group hidden-print">
                            <div class="input-group input-daterange">
                                {{ form_widget(formSearch.start_date) }}
                            </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-1">
                            <input type="submit" name="submit" value="Search" class="btn blue hidden-print">
                        </div>
                    </div>
                    <div class="pull-right">
                        {#<button type="submit" name="pdf_create" value="1" class="btn blue hidden-print">PDF</button>#}
                        <button type="button" class="btn green hidden-print" onclick="print()">Print</button>
                    </div>
                    {{ form_end(formSearch) }}

                <div class="row">
                    <div class="col-md-12">
                        <table width="100%" style="margin-bottom: 20px; font-weight: bold">
                            <tr style="font-size: large">
                                <td width="80%">Date wise Oder Quantity & Value</td>
                                <td width="20%" align="right">{{ data?data['start_date']:'' }}</td>
                            </tr>
                        </table>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>SL No</th>
                                <th>Feed Mill/Depot</th>
                                {% for category in itemCategories %}
                                    {% if(category.id !=15) %}
                                <th>{{ category.name }}</th>
                                    {% endif %}
                                {% endfor %}
                                <th>Total Qty(KG)</th>
                                <th>Total Value</th>
                                <th>PaymentAmount</th>
                            </tr>
                            </thead>
                            {% if orders %}
                            <tbody>
                                {% set sl = 1 %}
                                {% set grandTotalQty = 0 %}
                                {% set grandTotalAmount = 0 %}
                                {% set grandTotalPaymentAmount = 0 %}
                                {% set depotAndCategoryTotal = [] %}
                                {% for depot in depots %}
                                    <tr>
                                        <td>{{ sl }}</td>
                                        <td>{{ depot.name }}</td>
                                        {% set catTotalQty = 0 %}
                                        {% set catTotalAmount = 0 %}
                                        {% for category in itemCategories %}
                                            {% if(category.id !=15) %}
                                            {% set catQty = orders[depot.id][category.id].totalQuantity|default(0) %}
                                            {% set catAmount = orders[depot.id][category.id].totalAmount|default(0) %}
                                            {% set catTotalQty = catTotalQty + catQty %}
                                            {% set catTotalAmount = catTotalAmount + catAmount %}
                                            {% set depotAndCategoryTotal=depotAndCategoryTotal|merge([{(category.id):catQty}]) %}
                                            <td>{{ orders[depot.id] is defined and orders[depot.id][category.id] is defined ? orders[depot.id][category.id].totalQuantity|number_format(2,'.',','):'0.00'  }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td>{{ catTotalQty|number_format(2,'.',',') }}</td>
                                        <td>{{ catTotalAmount|number_format(2,'.',',') }}</td>
                                        <td>{{ paymentAmountViaOrders[depot.id].totalAmount|default(0)|number_format(2,'.',',') }}</td>
                                        {% set grandTotalQty = grandTotalQty+catTotalQty %}
                                        {% set grandTotalAmount = grandTotalAmount + catTotalAmount %}
                                        {% set grandTotalPaymentAmount = grandTotalPaymentAmount + paymentAmountViaOrders[depot.id].totalAmount|default(0) %}
                                    </tr>
                                    {% set sl = sl + 1 %}
                                {% endfor %}
                                <tr style="font-size: large">
                                    <td colspan="2" align="right">Total</td>
                                    {% for category in itemCategories %}
                                        {% if(category.id !=15) %}
                                        <td>
                                            {% set itemTotal = 0 %}
                                            {% for totalItems in depotAndCategoryTotal %}
                                                {% set itemTotal= itemTotal+ totalItems[category.id]|default(0) %}
                                            {% endfor %}
                                            {{ itemTotal|number_format(2,'.',',') }}
                                        </td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>{{ grandTotalQty|number_format(2,'.',',') }}</td>
                                    <td>{{ grandTotalAmount|number_format(2,'.',',') }}</td>
                                    <td>{{ grandTotalPaymentAmount|number_format(2,'.',',') }}</td>
                                </tr>
                            </tbody>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
{% endblock %}