{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : Agent Group Create {% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Add Agent Group
                </div>
            </div>
            <div class="portlet-body">
                {{ include('_elements/_back_to_list_button.html.twig', {url: path('agent_groups_home'), label: 'Back to List', 'icon': 'chevron-left'}) }}
                {{ form_start(form, {'method': 'POST', attr: { novalidate: 'novalidate'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
