{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} : Agent Ledger {% endblock %}

{% block body %}

    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Agent Ledger
                </div>
            </div>
            <div class="portlet-body">
                <div class="dataTables_wrapper no-footer">

                    <div class="col-md-12" style="margin-top: 25px;">
                        <form method="get" novalidate="novalidate" class="form-inline">

                            <div class="form-group">
                                {{ form_widget(formSearch.agent) }}
                            </div>

                            <div class="form-group">
                                <div class="input-icon right">
                                    <div class="input-group input-daterange">
                                        {{ form_widget(formSearch.start_date) }}
                                        <span class="input-group-addon">to</span>
                                        {{ form_widget(formSearch.end_date) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Search" class="btn blue hidden-print">
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn green hidden-print" onclick="print()">Print</button>
                            </div>
                        </form>

                    </div>

                    <div class="col-md-12" style="margin-top: 25px;">
                        <div class="form-group">
                            <div class="col-md-5">
                                <div class="input-icon right">
                                    {% if agent != null %}
                                        Agent Name: {{ agent.agentID }} - {{ agent.user.profile.fullName ? agent.user.profile.fullName : agent.user.username }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top: 25px;">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Transaction Date</th>
                                    <th>Details</th>
                                    <th>Sender Bank</th>
                                    <th>Receive Bank</th>
                                    <th>Delivered Product Value</th>
                                    <th>Collection</th>

                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="4" style="text-align: right">Previous Balance: </td>
                                <td style="text-align: right">{{ agentPreviousDebitLaserTotal|number_format(2, '.', ',') }}</td>
                                <td style="text-align: right">{{ agentPreviousCreditLaserTotal|number_format(2, '.', ',') }}</td>

                                <td style="text-align: right">
                                    {% set balance = agentPreviousDebitLaserTotal - agentPreviousCreditLaserTotal %}
                                    {{ balance|number_format(2, '.', ',') }}
                                </td>
                            </tr>
                            {% for laser in agentLaser %}
                                {% if laser['transactionType'] == 'DR' %}
                                    {% set balance = balance + laser['amount'] %}
                                {% else %}
                                    {% set balance = balance - laser['amount'] %}
                                {% endif %}
                                <tr>
                                    <td class="col-md-1">{{ laser['depositDate'] | date("d-m-Y", "Asia/Dhaka") }}</td>
                                    <td class="col-md-1">
                                        {% if laser['transactionType'] == 'CR' %}
                                            {{ laser['remark'] | default('') }}
                                        {% else %}
                                            {% for id, item in json_decode(laser['remark']) %}
                                                <div>{{ item.name ~ '(' ~ item.qty ~ 'Kg ' ~ item.amount|number_format(2, '.', ',') ~ 'Tk)'}}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td class="col-md-1 text-center">
                                            {{ laser['agentBankName']|default('') }} {{ laser['agentBankName']? ', ':'' }}{{ laser['agentBankBranch']|default('') }}
                                    </td>
                                    <td class="col-md-1 text-center">
                                        {% if laser['transactionType'] == 'CR' and laser['bankAccountName'] %}
                                            {{ laser['bankCode'] }}
                                        {% endif %}
                                    </td>
                                    <td class="col-md-1" style="text-align: right">{% if laser['transactionType'] == 'DR' %}{{ laser['amount']|number_format(2, '.', ',') }}{% endif %}</td>
                                    <td class="col-md-1" style="text-align: right">{% if laser['transactionType'] == 'CR' %}{{ laser['amount']|number_format(2, '.', ',') }}{% endif %}</td>

                                    <td class="col-md-1" style="text-align: right">{% if balance < 0 %}{{ '('~balance|abs|number_format(2, '.', ',')~')' }}{% else %}{{ balance|number_format(2, '.', ',') }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td class="bold" colspan="4" style="text-align: right">Total: </td>
                                <td class="bold" style="text-align: right">{{ agentDebitLaserTotal|number_format(2, '.', ',') }}</td>
                                <td class="bold" style="text-align: right">{{ agentCreditLaserTotal|number_format(2, '.', ',') }}</td>
                                {#<td class="bold">Current Balance:</td>#}
                                <td class="bold" style="text-align: right">
                                    {% if balance < 0 %}{{ '('~balance|abs|number_format(2, '.', ',')~')' }}{% else %}{{ balance|number_format(2, '.', ',') }}{% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
{% endblock %}