<table id="delivery_order" class="table delivery_order">
    <thead>
    <tr>
        <th>SL</th>
        <th>Order Id</th>
        <th>Item</th>
        <th>Quantity</th>
        <th hidden="hidden">Amount</th>
        <th>Delivered</th>
        <th>Remain</th>
    </tr>
    </thead>
    <tbody class="orderItems">
    {% set totalItemQty=0 %}
    {% set totalDeliveryQty=0 %}
    {% set totalRemainingQty=0 %}

    {% for order in delivery.orders %}
        {% set index=1 %}

        {% for item in order.orderItems %}
            {% if item.quantity != 0 %}
                {% if order.deliveryState == 'PARTIALLY_SHIPPED' and partialItems[order.id][item.id] is defined %}
                    {% if (item.quantity > partialItems[order.id][item.id]['delivered']) %}
                        <tr class="order_{{ order.id }}{{ isAvailable[order.id][item.id]==false?' red':'' }}">
                            <td>{{ index }}</td>
                            <td class="order_id">{{ order.id }}</td>
                            <td>{{ item.item.name }}</td>
                            <td class="item-qty orderItemQty_{{ item.id }} itemId_{{ item.item.id }}">{{ item.quantity - partialItems[order.id][item.id]['delivered'] }}</td>
                            <td class="orderItemId" hidden="hidden">{{ item.id }}</td>
                            <td class="orderItemPrice" hidden="hidden">{{ item.price }}</td>
                            <td class="deliveryItemAmount deliveryItemAmount_{{ order.id }}" hidden="hidden"></td>
                            <td class="deliver"><input name="qty[{{ order.id }}][{{ item.id }}]" class="form-control input-xsmall deliver-qty" value="0"></td>
                            <td class="remain">{{ item.quantity - partialItems[order.id][item.id]['delivered'] }}</td>
                        </tr>
                        {% set index=index+1 %}
                    {% endif %}
                {% else %}
                    <tr class="order_{{ order.id }}{{ isAvailable[order.id][item.id]==false?' red':'' }}">
                        <td>{{ index }}</td>
                        <td class="order_id">{{ order.id }}</td>
                        <td>{{ item.item.name }}</td>
                        <td class="item-qty orderItemQty_{{ item.id }} itemId_{{ item.item.id }}">{{ item.quantity }}</td>
                        <td class="orderItemId" hidden="hidden">{{ item.id }}</td>
                        <td class="orderItemPrice" hidden="hidden">{{ item.price }}</td>
                        <td class="deliveryItemAmount deliveryItemAmount_{{ order.id }}" hidden="hidden"></td>
                        <td class="deliver"><input name="qty[{{ order.id }}][{{ item.id }}]" class="form-control input-xsmall deliver-qty" value="0" {{ isAvailable[order.id][item.id]==false?'disabled="disabled"':'' }}></td>
                        <td class="remain">{{ item.quantity }}</td>
                    </tr>
                    {% set index=index+1 %}
                {% endif %}
            {% endif %}

        {% endfor %}
        <tr style="font-weight: bold">
            <td colspan="2">{{ order.id }}</td>
            <td colspan="1">Clearance amount : <span class="">{{ order.totalApprovedAmount }}</span></td>
            <td colspan="1">Clearance Due amount : <span class="totalApprovedAmount_{{ order.id }}">{{ order.totalApprovedAmount-order.totalDeliveryItemsAmount }}</span></td>
            <td colspan="1"  hidden="hidden"><span class="totalDeliveryAmount_{{ order.id }}"></span></td>
            <td colspan="2">Actual amount : <span class="totalAmount_{{ order.id }}">{{ order.totalAmount }}</span></td>
        </tr>
    {% endfor %}
    <tr>
        <th colspan="3" style="text-align: right">Total</th>
        <th class="totalItemQty"></th>
        <th class="totalDeliveryAmount"></th>
        <th class="totalDeliveryQty"></th>
        <th class="totalRemainingQty"></th>
    </tr>
    </tbody>

</table>