<div class="top-menu">
    <ul class="nav navbar-nav pull-right">
        <li class="dropdown dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                {% if app.user.profile and app.user.profile.path %} <img src='{{ asset(app.user.profile.getWebPath) }}' class="img-circle"/> {% endif %}
					<span class="username username-hide-on-mobile">
					{{ app.user.profile.fullName is defined ? app.user.profile.fullName : app.user.username }} </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}">
                            <i class="icon-user"></i> My Profile </a>
                    </li>
                {% if is_granted('ROLE_AGENT') %}
                    <li>
                        <a href="{{ path('my_password_update') }}">
                            <i class="icon-user"></i> Password Change </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        <i class="icon-key"></i> Log Out </a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-quick-sidebar-toggler">
            <a href="{{ path('fos_user_security_logout') }}" class="dropdown-toggle">
                <i class="icon-logout"></i>
            </a>
        </li>
        <!-- END QUICK SIDEBAR TOGGLER -->
    </ul>
</div>