{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} : Truck Info List {% endblock %}

{% block body %}


    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-body">
                <div class="row">
                    <table width="100%" class="table-full-width">
                        <tr>
                            <td class="col-md-6" style="vertical-align: top; width: 60%">
                                <div class="portlet">
                                    <div class="portlet-title partial-delivered-items">
                                        <div class="caption"> Agent Info </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th>Challan Number : </th>
                                                <td>{{ vehicle.deliveries.id }}</td>
                                            </tr>
                                            <tr>
                                                <th>Vehicle Supply By : </th>
                                                <td>
                                                    {#{% if((vehicle.agent is not null)) %}
                                                        {{ vehicle.agent.name}}
                                                    {% else %}
                                                        {{ 'NOURISH' }}
                                                    {% endif %}#}
                                                    NOURISH / AGENT
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Vehicle In : </th>
                                                <td>
                                                    {{ vehicle.vehicleIn | date("d-m-Y \\a\\t g:ia", "Asia/Dhaka") }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Vehicle Out : </th>
                                                <td>
                                                    {{ vehicle.vehicleOut | date("d-m-Y \\a\\t g:ia", "Asia/Dhaka") }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Delivery From : </th>
                                                <td>
                                                    {{ vehicle.depo.name  }}
                                                </td>
                                            </tr>
                                            </tbody></table>
                                        <table class="table">
                                            <tr>
                                                <th class="col-md-2">Order No</th>
                                                <th class="col-md-3">Payment Mode</th>
                                                <th class="col-md-7">Delivery To</th>
                                            </tr>
                                            {% for index, order in vehicle.deliveries.orders %}

                                                <tr>
                                                    <td> {{ order.id }}</td>
                                                    <td> {{ order.paymentMode }}</td>
                                                    <td>{{ order.agent.user.profile.fullName }}{{ ', ' }} {{ order.agent.user.profile.cellphone }} </br> {{ order.agent.user.profile.address }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </td>
                            <td class="col-md-6" style="vertical-align: top; width: 40%">
                                <div class="portlet">
                                    <div class="portlet-title partial-delivered-items">
                                        <div class="caption"> Vehicles Info </div>
                                    </div>
                                    <div class="portlet-body partial-delivered-items">
                                        <table class="table">
                                            <tr>
                                                <th>Vehicle Number</th>
                                                <td>{{ vehicle.truckNumber }}</td>
                                            </tr>
                                            <tr>
                                                <th>Driver Name</th>
                                                <td>{{ vehicle.driverName }}</td>
                                            </tr>
                                            <tr>
                                                <th>Mobile Number</th>
                                                <td>{{ vehicle.driverPhone }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div class="col-md-12">
                        <div class="portlet">
                            <div class="portlet-title">
                                <div class="caption"> Order Items </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Order Id</th>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Delivered</th>
                                        <th>Packet Weight</th>
                                        <th class="no-print">Remain</th>
                                    </tr>
                                    </thead>
                                    <tbody class="orderItems">
                                    {% set totalQuentity = 0 %}
                                    {% set totalDeliveredQuantity = 0 %}
                                    {% set totalPackWighth = 0 %}
                                    {% set totalRemainingQty = 0 %}
                                    {% for deliveryItem in vehicle.deliveries.deliveryItems %}

                                        {#{{ dump(item.id) }}#}

                                        {% if deliveryItem.qty%}
                                            {% set totalQuentity= totalQuentity + deliveryItem.orderItem.quantity %}
                                            {% set partialQty=0 %}
                                            {% if deliveryItem.order.id in partialItems|keys %}
                                                {% if deliveryItem.orderItem.id in partialItems[deliveryItem.order.id]|keys %}
                                                    {% set partialQty = partialItems[deliveryItem.order.id][deliveryItem.orderItem.id]['delivered'] %}
                                                {% endif %}
                                            {% endif %}
                                            {% set totalDeliveredQuantity= totalDeliveredQuantity + deliveryItem.qty %}
                                            {% set totalPackWighth= totalPackWighth + (deliveryItem.qty/deliveryItem.orderItem.item.packetWeight) %}
                                            {% set totalRemainingQty= totalRemainingQty + (deliveryItem.orderItem.quantity - partialQty) %}
                                            <tr>
                                                <td>{{ 1 }}</td>
                                                <td>{{ deliveryItem.order.id }}</td>
                                                <td>{{ deliveryItem.orderItem.item.getItemCodeName }}</td>
                                                <td class="item-qty">{{ deliveryItem.orderItem.quantity }}</td>
                                                <td class="deliver">
                                                    {{ deliveryItem.qty }}
                                                </td>
                                                <td>{{deliveryItem.qty/deliveryItem.orderItem.item.packetWeight }}</td>
                                                <td class="remain no-print">{{ deliveryItem.orderItem.quantity - partialQty }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <tbody>
                                    <tfoot>
                                    <tr class="bold">
                                        <td></td>
                                        <td></td>
                                        <td class="bold">Total</td>
                                        <td>{{ totalQuentity }}</td>
                                        <td>{{ totalDeliveredQuantity }}</td>
                                        <td>{{ totalPackWighth }}</td>
                                        <td class="remain no-print">{{ totalRemainingQty }}</td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <br>
                                <table class="table table-bordered">

                                    <tr>
                                        <td style="height: 40px"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">Prepared By</th>
                                        <th class="text-center">Checked By</th>
                                        <th class="text-center">Delivered By</th>
                                        <th class="text-center">Manager</th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" style="text-align: center; font-size: 16px">RECEIVED THE ABOVE GOODS IN GOOD CONDITION</th>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" colspan="3"></td>
                                        <td style="height: 20px"></td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">Received By</th>
                                    </tr>
                                </table>

                            </div>
                            {#<input type="hidden" id="delivery-id" name="delivery-id" value="{{ delivery.id }}">#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/rbssales/css/modal-print.css"
        filter='cssrewrite' output='css/compiled/datatable.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style>
        .margin-bottom-5{
            margin-bottom: 5px;
        }
        @media print {
            .table{
                margin-bottom: 0!important;
            }
            .portlet{
                margin-bottom: 0;
                padding: 0px 5px!important;
            }
            .col-md-6{
                padding: 0px;
            }
            .table thead tr td, .table thead tr th, .table tbody tr th, .table tbody tr td, .table tfoot tr td{
                padding: 2px 5px!important;
                font-size: 16px!important;
            }
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block documentReady %}
    window.print();
    setTimeout(function() { window.close(); }, 100);
{% endblock %}